*{
  font-family: Verdana;
}
body{
  background-color: white;
}

nav{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgb(50, 47, 95);
  min-height:60px;
  position: fixed;
  top:0;
  width:100%;
}

nav > p{
  color:white;
  font-size:23px;
}

.navlinks{
  position:relative;
  display: flex;
  padding-right:10px;
}
.navlinks > li{
  padding:8px;
  font-size: 18px;
}

.navlink{
  color:rgb(190, 189, 189);
  text-decoration: none;
}

.active_navlink{
  color:white;
  text-decoration:underline white;
  font-size:23px;
}

.about{
  background-color: rgb(214, 210, 210);
}

h1{
  margin-top: 80px;
  font-size:40px;
  color:black;
  font-weight: 300;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}
h2{
  margin-top: 30px;
  font-size:30px;
  color:black;
  font-weight: 200;
  text-align: center;
  margin-left:10px;
  margin-right:10px;
  padding-top: 20px;
  padding-top: 10px;
}
.about p, #quadrants p, #seeds p, #intro p, #contact p{
  margin-top: 10px;
  font-size: 15px;
  color:black;
  font-weight: 200;
  margin-left: 40px;
  margin-right:40px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.about > img{
  display: block;
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 100%;
}

.resume{
  background-color: rgb(214, 210, 210);
  line-height:1.25;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width:100%;
}
.section_header{
  padding-top:20px;
  background-color:  rgb(50, 47, 95);
  color: white;
  text-align:center;
}

.resume_section {
  padding-left:20px;
}

.inner_section{ 
  padding-left:40px;
}

.resume_section li{
  padding-top:8px;
  font-weight: 200;
  font-size: 15px;
  display: list-item;
  list-style-type:circle;
}


.inner_section li{ 
  padding-top:8px;
  font-weight: 200;
  font-size: 15px;
  display:list-item;
  list-style-type:square;
}

#quadrants{
  background-color: rgb(214, 210, 210);
  width:100%;
}


.images{
  display: flex;
  flex-wrap:wrap;
  background-color: white;
}


.images img{
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 80%;
  padding-right:40px;
  padding-left:40px;
  padding-top:40px;
  padding-bottom: 40px;
  background-color: rgb(214, 210, 210);
}
#quadrants .images p{
  text-align:center;
  font: 15px;
  margin-left: auto;
  margin-right:auto;
  width:100%;
}

#quadrants .images img{
  opacity:80%;
  filter: grayscale(100%);
}

#quadrants .images img:hover{
  opacity:100%;
  filter:none;
  border: solid 10px gray;
}


#darkhorse{
  height: 250px;
  width: 500px;
}
footer{
  display: flex; 
  justify-content: center; 
  text-align:center;
  position: relative;
  bottom:0;
  width: 100%;
  background-color:rgb(50, 47, 95);
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ncaa {
  display:grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: .5fr 1fr 1.5fr;
  grid-gap: 1em;
  width:100%;
}


#intro{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

#poster{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
#poster h2{
  margin-bottom: 20px;
  margin-top: 10px;
}
#poster img, #seeds img{
  max-width: 100%;
  margin-left:10px;
  margin-right:10px;
}
#seeds{
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  width:100%;
}
#intro p{
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(214, 210, 210);
  width:100%;
}

#seeds p{
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(214, 210, 210);

}

#contact p{
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(214, 210, 210);
  width:100%;
}
#contact .images{
  width:100%;
  display: flex;
  margin-left: auto;
  margin-right:auto;
  justify-content: space-evenly;
}

#contact .images img{
  height:100px;
  margin-bottom: 100px;
}


.emailform{
  margin-bottom: 80px;
  font-size: 15px;
  color:black;
  font-weight: 200;
  background-color: rgb(214, 210, 210);
  padding: 20px;
  width:100%;
}
.emailform form{
  display:block;
}
.emailform input{
  display:inline-block;
  width:80%;
  height:20px;
}
textarea{
  display: inline-block;
  width:80%;
  height:80px;
  margin-bottom: 20px;
}
#contact .emailform p{
  font-size: 15px;
  color:black;
  font-weight: 200;
  padding-left: 0;
  padding-right: 0;
}

.skip-to-content-link {
  left: -999px;
  top:-999px;
  display: block;
  position: absolute;
}

.skip-to-content-link:focus {
  left:10%;
  top:10%;
  background-color:white;
}

.flip-card-front{
  display:none;
}
.flip-card-back{
  transform:none;
}

@keyframes stat{
  from {opacity:0%; max-width: 10%;}
  to {opacity:100%; max-width: 80%;}
}

#mbaa{
  animation-name: stat;
  animation-duration: 5s;
}

@keyframes link{
  from {opacity:0%; max-width: 10%;}
  to {opacity:100%; max-width: 80%;}
}

#link{
  animation-name:link;
  animation-duration: 5s;
}

@media all and (min-width: 680px){
  nav{
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
  }
  
  
  nav > p{
    color:white;
    font-size:23px;
    min-width:100%;
    text-align: center;
    padding-top:10px;
  }
  .navlinks{
    display: flex;
    padding-right:10px;
    justify-content: space-evenly;
    max-width: 100%;
    text-align: center;
    margin: auto auto;
  }

  .images img{
    flex-grow:0;
    flex-wrap:wrap;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
  }


  #ncaa {
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: .5fr 1fr 1.5fr;
    grid-gap: 1em;
    width:100%;
  }
  
  #intro{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  
  #poster img{
    grid-column: 1 / span 1;
  }
  #poster h2{
    grid-column-start:2;
  }
  #poster img, #seeds img{
    max-width: 80%;
    margin-left:130px;
    margin-right:10px;
  }
  #seeds{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    width:100%;
  }
  #intro p{
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(214, 210, 210);
    width:100%;
  }
  
  #seeds p{
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(214, 210, 210);
  
  }

  .resume_section{
    margin-left: 40px;
    margin-right:40px;
  }

  .section_header{
    text-align: left;
  }

}

@media all and (min-width: 960px){
  nav{
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(50, 47, 95);
    min-height:60px;
    position: fixed;
    top:0;
    width:100%;
  }
  
  .navlinks{
    position:relative;
    display: flex;
    padding-right:10px;
    margin-right:10px;
  }
  .navlinks > li{
    padding-left: 35px;
    padding-right: 35px;
  }

  .active_navlink{
    font-size: 26px;
  }
  nav p{
    min-width:0;
  }
}

@media all and (min-width: 960px) and (prefers-reduced-motion: no-preference){
  .about{
    background-image: url("../images/profile.jpeg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:80%;
  }
  .about img{
    height:0;
    width:0;
  }
  .about p{
    color:white;
    font-size: 23px;
  }

  .flip-card {
    background-color: transparent;
    max-width: 85%;
    height: 600px;
    margin-left:110px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }

  .flip-card-front, .flip-card-back {
    display:inline;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background:rgb(214, 210, 210);
  }


  .flip-card-back{
    background: none;
    transform: rotateY(180deg);
  }
  .flip-card-front{
    width:80%;
    height:80%;
    margin-left:130px;
    background: gray;
    text-align: center;
    color:white;
  }
  .flip-card-front p{
    padding-top: 200px;
    font-size:18
  }
}


@media screen and (prefers-reduced-motion: reduce){
  #mbaa{
    animation-name:none;
    animation-duration:none;
  }
  #link{
    animation-name:none;
    animation-duration:none;
  }
}